<div class="overlay"></div>
<!-- определение сессии -->
<input type="hidden" name="p1" value="0011">
<input type="hidden" name="p2" value="111222">
<input type="hidden" name="p_h" value="aaa333">
{#                   <input type="hidden" name="p2" value="24193335762402589961637664754945">
<input type="hidden" name="p_h" value="EF5258B9D415446C6F794C8E8D5061878C85"> #}

<!-- плагины -->
<script src="/scripts/fancybox/fancybox-5.0.umd.js"></script>
<script src="/scripts/choices/choices.min.js"></script>
<script src="/scripts/hotel-datepicker/fecha.min.js"></script>
<script src="/scripts/hotel-datepicker/hotel-datepicker.min.js"></script>
<script src="/scripts/autosuggest/autosuggest.1.9.0.min.js"></script>

<!-- основные скрипты -->
<script src="/scripts/main.js"></script>
<!-- для модуля -->
{% if folder %}
<script src="/scripts/modules/{{ folder }}.js"></script>
{% endif %}

