<header class="header">
    <div class="header__container">
        <div class="header__left">
            {# logo + title #}
            <div class="header__title titleServise">
                <a class="titleServise__link" href="/">База</a>
                <span class="titleServise__divider" role="presentation"></span>
                <strong class="titleServise__name">{{ title }}</strong>
            </div>
            <div class="header__btn">
                <!-- для мобильного меню -->
                <button class="header__openMenu" type="button" aria-expanded="false" aria-controls="sidebar" aria-label="Открыть меню"><span class="header__openMenu-hamburger hamburger burger1"><span></span></span></button>
            </div>
        </div>
        <div class="header__right">
            {# --- #}
        </div>
    </div>

</header>
