
<!DOCTYPE html>
<html lang="ru" data-theme="default">
    <head>  
        <meta charset="UTF-8">  
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ЭУ: {{ title }} - {{ eleventyNavigation.module }}</title>

        <link rel="preload" href="/fonts/Roboto-Regular.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="/fonts/Roboto-Light.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="/fonts/Roboto-Medium.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="/fonts/Roboto-Bold.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="/fonts/Roboto-Italic.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="/fonts/Roboto-LightItalic.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="/fonts/Roboto-MediumItalic.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="/fonts/Roboto-BoldItalic.woff2" crossorigin as="font" type="font/woff2">

        <!-- plugins  -->
        <link rel="stylesheet" href="/scripts/fancybox/fancybox-5.0.min.css"/>
        <link rel="stylesheet" href="/scripts/swiper/swiper-bundle-11.1.14.min.css"/>
        <link rel="stylesheet" href="/scripts/choices/choices.css"/>
        <link rel="stylesheet" href="/scripts/hotel-datepicker/hotel-datepicker.css"/>
        <link rel="stylesheet" href="/scripts/autosuggest/autosuggest.min.css">
        <!-- индивидуальные  -->
        {% if pluginCss %}
            <link rel="stylesheet" href="{{ pluginCss }}">
        {% endif %}

        <!-- main styles  -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" media="(min-width: 768px)" href="styles/tablet.css">
        <link rel="stylesheet" media="(min-width: 1024px)" href="styles/desctop.css">

    </head>