{# <nav>
    {%- for item in collections.page -%}
        <a href="{{ item.url }}">{{ item.data.title }}</a>&nbsp;|&nbsp;
    {%- endfor -%}
</nav> #}

{# массив ссылок #}
{% set navPages = collections.all | eleventyNavigation %}

{# маскрос для выделения родительских пунктов в меню #}
{% macro selectParent(parnt, currentPage) %}
    {% if parnt.children.length %}
        {% for child in parnt.children %}
            {% if child.parent == parnt.key and child.url == currentPage %}
                {% set select = 'selected' %}
                {{ select }}
            {% else %}
                {{ selectParent(child) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{# макрос для вложенных меню #}
{% macro renderNavListItem(entry, class, currentPage) %}
    {# определяем актив. пункт и его предков #}
    {% set selected = '' %}
    {% if entry.url == currentPage %}
        {% set selected = 'selected' %}
    {% else %}
        {% set selected = selectParent(entry, currentPage) %}
    {% endif %}

<li class="{{ class }}__item {{ selected }}">
    {% if entry.url == false %}
        <button class="{{ class }}__link {{ selected }}" 
        {% set expand = "false" %}
        {% for child in entry.children %}
            {% if child.parent == entry.key and child.url == page.url %}
                {% set expand = "true" %}
            {% endif %}
        {% endfor %}
         aria-expanded = {{ expand }}
         aria-controls="id_{{ entry.idmenu }}_menu" type="button">
            {% if entry.icon %}<span class="icok {{ class }}__icon"><svg alt=""><use xlink:href="/images/sprite.svg#svg-{{ entry.icon }}"></use></svg></span>{% endif %}{{ entry.title }}<span class="icok {{ class }}__arrow"><svg alt=""><use xlink:href="/images/sprite.svg#svg-shevron-bottom-sm"></use></svg></span></button>
    {% else %}
        <a class="{{ class }}__link {{ selected }}" href="{{ entry.url }}">
            {% if entry.icon %}<span class="icok {{ class }}__icon"><svg alt=""><use xlink:href="/images/sprite.svg#svg-{{ entry.icon }}"></use></svg></span>{% endif %}{{ entry.title }}</a>
    {% endif %}

    {% if entry.children.length %}
    <div class="{{ class }}__subcontainer">
        <ul class="{{ class }}__submenu subMenuSide" id="id_{{ entry.idmenu }}_menu">
            {% for child in entry.children %}{{ renderNavListItem(child, 'subMenuSide', currentPage) }}{% endfor %}
        </ul>
    </div>
    {% endif %}
</li>
{% endmacro %}

