/* элементы forms */

/* стиль инпутов, селуктов и похожего */
@define-mixin inputStyle {
    border: 1px solid var(--colorBorderInput);  
    background-color: var(--bgInput); 
    border-radius: var(--round-sm);
    outline: 4px solid transparent;
    color: var(--colorText);
    line-height: 1.15em;
}
@define-mixin placeholder $color, $opacity {
  color: $color; font-size: 100%; opacity: $opacity;
}


form, input, textarea, select, option, button {
    font-size: 100%; font-family: inherit; 
}
fieldset {
  padding: 0; margin: 0;
  min-inline-size: auto;
  border: none; 
}
select {width: 100%; max-width: 100%;}

/* inputs */
input {
  transition: background-color 0.2s ease,
  color 0.2s ease, border 0.2s ease;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: hsl(var(--colorPrimary));
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset, var(--shadow-default);
}

.default-input {
  @mixin inputStyle;
  padding: var(--padInput);
  transition: 
    opacity 0.3s ease, 
    border-color 0.2s ease-in-out, 
    color 0.2s ease-in-out,
    outline 0.3s ease-in-out;

    &:focus, &:focus-visible {
      border-color: var(--colorFocusBorderInput);
    }
    &:disabled {
      opacity: 0.9; background-color: transparent;
      color: hsl(var(--colorText), 0.8);
      cursor: not-allowed; pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--colorFocusBorderInput);
      }
    }

     /* запись placeholder не сокращать!!! не работает иначе */
    &::-moz-placeholder {
      @mixin placeholder var(--colorText), 0.5;
    }
    &:-ms-input-placeholder {
      @mixin placeholder var(--colorText), 0.5;
    }
    &::-webkit-input-placeholder {
      @mixin placeholder var(--colorText), 0.5;
    }


  /* ошибки заполнения */
  &--error {
      --colorBorderInput: hsl(var(--colorDanger));
  }
  /* правильно заполненое */
  &--success {
       --colorBorderInput: hsl(var(--colorSuccess));
  }
  
  /* 100% */
  &--wide100 {
    width: 100%;
  }
}

/* чекбоксы */
.checkboxItem {
  display: flex; gap: var(--size-2_5);
  position: relative;
  padding: 0;
  min-height: 1.2em; 

  &__control {
    /* @mixin visuallyHidden; */
    position: relative; flex-shrink: 0;
    -webkit-appearance: none;
	  appearance: none;
    width: var(--sizeRadioCheck); height: var(--sizeRadioCheck); 
    margin-top: 0.1em; margin-left: 0; margin-bottom: 0;
    border: 1px solid var(--colorBorderRadio);
    outline: 4px solid transparent;
    border-radius: var(--round-xs);
    background: var(--bgInput);
    transition: all 0.2s ease-out;

    /* &::after {
      css отрисовка галочки
      --width: calc(var(--sizeRadioCheck) * 0.4);
      --height: calc(var(--sizeRadioCheck) * 0.6);

      @mixin afbf-decor;
      left: calc((var(--sizeRadioCheck) - var(--width)) / 2); 
      top: calc((var(--sizeRadioCheck) - var(--height)) / 2); 
      z-index: 2;
      width: var(--width); height: var(--height); 
      transform: rotate(45deg);
      border-right: 2px solid var(--colorTxtActiveRadio) !important;
      border-bottom: 2px solid var(--colorTxtActiveRadio) !important;
      opacity: 0;
      transition: all 0.2s 0.3s ease-out;
    } */
    &::after {
      --width: calc(var(--sizeRadioCheck) * 0.85);
      --height: calc(var(--sizeRadioCheck) * 0.85);

      @mixin afbf-decor;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      width: var(--width); height: var(--height); 
      border: 1px solid transparent;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3e%3cpath fill='%23fff' fill-rule='evenodd' clip-rule='evenodd' d='M17.6913 2.17805C18.0449 2.45945 18.1034 2.97418 17.822 3.32773L8.70509 14.7823C8.55922 14.9655 8.34182 15.0775 8.10792 15.0898C7.87402 15.1021 7.64606 15.0136 7.48177 14.8466L0.23503 7.48301C-0.0819231 7.16094 -0.0777788 6.64292 0.244286 6.32596C0.566351 6.00901 1.08438 6.01315 1.40133 6.33522L8.00007 13.0404L16.5416 2.30869C16.823 1.95514 17.3378 1.89665 17.6913 2.17805Z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      opacity: 0;
    }

    &:focus-visible {
      background-color: var(--colorHoverRadio);
      border-color: hsl(var(--colorActiveRadio));
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--colorHoverRadio);
        border-color: hsl(var(--colorActiveRadio));
        outline-color: var(--colorHoverRadio);
      }
    }

    &:checked {
      border-color: hsl(var(--colorActiveRadio));
      background-color: hsl(var(--colorActiveRadio));

      &::after {opacity: 1;}
    }

    &:disabled {
      border-color: var(--colorBorderDisabledRadio);
      background-color: transparent;
      
      @media (hover: hover) {
        &:hover {
          background-color: var(--bgInput);
          outline-color: transparent;
        }
      }
    }
  }

  &__label {
    min-height: 1.5em; 
  }

  &__control:disabled ~ &__label {
    opacity: 0.6; cursor: text;
  }

  [data-theme="dark"] & {
    &__control::after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3e%3cpath fill='%23000' fill-rule='evenodd' clip-rule='evenodd' d='M17.6913 2.17805C18.0449 2.45945 18.1034 2.97418 17.822 3.32773L8.70509 14.7823C8.55922 14.9655 8.34182 15.0775 8.10792 15.0898C7.87402 15.1021 7.64606 15.0136 7.48177 14.8466L0.23503 7.48301C-0.0819231 7.16094 -0.0777788 6.64292 0.244286 6.32596C0.566351 6.00901 1.08438 6.01315 1.40133 6.33522L8.00007 13.0404L16.5416 2.30869C16.823 1.95514 17.3378 1.89665 17.6913 2.17805Z'/%3e%3c/svg%3e");
    }
  }
}
/* radio */
.radioItem {
  display: flex; gap: var(--size-2_5);
  position: relative; 
  min-height: 1.2em; 
  padding: 0;

  &__control {
    /* @mixin visuallyHidden; */
    position: relative; flex-shrink: 0;
    -webkit-appearance: none;
	  appearance: none;
    width: var(--sizeRadioCheck); height: var(--sizeRadioCheck);
    margin-top: 0.1em;
    background: var(--bgInput); 
    border: 1px solid var(--colorBorderRadio);
    border-radius: var(--round-circle);
    outline: 4px solid transparent;
    transition: all 0.2s ease-out;

      &::after {
        --sizeDot: var(--size-2_5);

        @mixin afbf-decor;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: var(--sizeDot); height: var(--sizeDot); 
        border-radius: 50%;
        background: hsl(var(--colorActiveRadio)); 
        opacity: 0;
        transition: all 0.2s ease-out;            
    }

    &:focus-visible {
      background-color: var(--colorHoverRadio);
      border-color: hsl(var(--colorActiveRadio));
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--colorHoverRadio);
        border-color: hsl(var(--colorActiveRadio));
        outline-color: var(--colorHoverRadio);
      }
    }
    &:checked {
      border-color: hsl(var(--colorActiveRadio));

      &::after {opacity: 1;}
    }

    &:disabled {
      border-color: var(--colorBorderDisabledRadio);
      background-color: transparent;
      
      @media (hover: hover) {
        &:hover {
          background-color: var(--bgInput);
          outline-color: transparent;
        }
      }
    }
  }
  &__label {
    min-height: 1.5em; 
  }


  &__control:disabled ~ &__label {opacity: 0.6; cursor: text}
      
}

/* селект */
.default-select {
  display: inline-block;position: relative;
  width: 100%;

  &__field {
    @mixin inputStyle;
    padding: var(--padInput); padding-right: var(--size-10);
    appearance: none;
    transition: border 0.3s ease-in-out, outline 0.3s ease-in-out;

    &:focus, &:focus-visible {
      border-color: var(--colorFocusBorderInput);
    }
    &:disabled {
      opacity: 0.9; background-color: transparent;
      color: hsl(var(--colorText), 0.8);
      cursor: not-allowed; pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--colorFocusBorderInput);
      }
    }

    &[multiple] {
      padding: var(--padInput);
    }
  }
  &::before {
      display: block; content: "";
      position: absolute; 
      top: 50%; 
      right: var(--size-4);
      width: var(--size-2); height: var(--size-2);
      background: none;
      transform: translateY(-50%) rotate(139deg) skew(10deg) translateY(30%);
      border-top: 1px solid hsla(var(--colorText), 0.8); 
      border-right: 1px solid hsla(var(--colorText), 0.8);
      pointer-events: none;
  }
  &:has([multiple])::before {display: none;}
  
  /* ошибки заполнения */
  &--error {
      --colorBorderInput: hsl(var(--colorDanger));
  }
  /* правильно заполненое */
  &--success {
      --colorBorderInput: hsl(var(--colorSuccess));
  }  
}

/* стилизованный селект. плагин choices */
.select-custom {
  --colorHighlight: var(--hoverBgCustomSelectItem);

  display: inline-flex;
  width: max(200px, 100%);

  .choices {
    overflow: inherit; width: 100%;
    border-radius: var(--round-sm); 
    outline: 4px solid transparent;
    transition: border .3s ease-in-out,outline .3s ease-in-out;

    &.is-focused {
      outline: 4px solid var(--focusOutlineColor);
      outline-offset: 0;
    }

    &.is-focused .choices__inner {
      border-color: var(--colorFocusBorderInput);
    }

    @media (hover: hover) {
      &:hover .choices__inner {
        border-color: var(--colorFocusBorderInput);
      }
    }

    /* &.is-disabled {
      opacity: 0.7;

      .choices__inner,
      .choices__input {
        @mixin inputStyle;
        box-shadow: none;
      }
    } */
  }   
  
  .choices__inner {
    display: flex;
    @mixin inputStyle;
    padding: var(--padInput);  padding-right: var(--size-10);
    min-height: auto;
    transition: border 0.2s ease;
    overflow: hidden;

  }

  .choices__list {
    &[aria-expanded],
    &--dropdown {
      top: 100%; bottom: auto;
      padding: 0; 
      border: none;
      border-radius: 0;
      background-color: var(--bgCard);
      box-shadow: var(--shadow-default);

      .choices__item {
        padding: var(--size-5) var(--size-4); 
        border-bottom: 1px solid var(--colorBorderInput);
        word-break: normal;
        transition: color 0.2s ease-out, background-color 0.2s ease-out;
    
        &:last-child {border-bottom: none;}
    
        &.choices__placeholder {
          display: none;
          padding: var(--size-3) var(--size-4);
        }
      }
    }
  }

  .choices[data-type*='select-one'] {
    &::after {
      display: none;
    }
    &::before {
      display: block; content: "";
      position: absolute; top: var(--size-3); right: var(--size-4);
      width: var(--size-2); height: var(--size-2);
      background: none;
      transform: rotate(139deg) skew(10deg);
      border-top: 1px solid hsla(var(--colorText), 0.8); 
      border-right: 1px solid hsla(var(--colorText), 0.8);
      pointer-events: none;
    }

    .choices__input {
      padding: var(--padInput);
      border-bottom: 1px solid var(--colorBorderInput);
      background-color: var(--bgInput);
      font-size: 1em;
      color: hsl(var(--colorText));
      outline: none;
  
      /* запись placeholder не сокращать!!! не работает иначе */
      &::-moz-placeholder {
        @mixin placeholder var(--colorText), 0.5;
      }
      &:-ms-input-placeholder {
        @mixin placeholder var(--colorText), 0.5;
      }
      &::-webkit-input-placeholder {
        @mixin placeholder var(--colorText), 0.5;
      }
  
      &:focus, &:focus-visible {
        border-color: var(--colorFocusBorderInput);
      }
    }
    .choices__inner {
      /* padding-bottom: calc(var(--size-2) + 1px); */
    }
  }

  .choices__placeholder {
    color: hsla(var(--colorText), 0.6);
    line-height: 1.3em;
  }
}
/* форма */
.formDefault {
  /* display: flex; flex-direction: column;
  gap: var(--size-8) 0; */

  &__item {
    display: flex; 
    gap: 0 var(--size-5);

    &:not(:last-child) {
      margin: var(--size-2) 0 var(--size-8);
    }
  }
  &__row {
    display: flex; flex-direction: column;
    gap: var(--size-5);
    align-items: stretch;

    &:not(:last-child) {
      margin: var(--size-2) 0 var(--size-8);
    } 
  }
  &__row &__item,
  &__row .inputGroup {margin: 0;}

  &__h2 {
    font-size: var(--h2-size); font-weight: bold;
  }
  &__fieldset {
    margin: var(--size-12) 0 0;
  }

  &__footer {
    margin-top: var(--size-10);
    display: flex; gap: var(--size-4);
    justify-content: space-between;
    flex-direction: column;
  }
  &__foot-left,
  &__foot-right {
    display: flex; gap: var(--size-4);
    align-items: center;
  }
}
/* элемент Поле с подписями и всеми дополнениями */
.inputItem {
    position: relative;
    display: flex; flex-direction: column;
    align-items: start;
    gap: var(--size-3) var(--size-4);
    width: 100%;

  &--row {
    flex-direction: row;
  }
  &--row &__label {padding: var(--padInput); padding-left: 0;padding-right: 0;}
  &--row &__box {width: auto;}

  &__label {
    display: block;
    color: hsla(var(--colorText), 0.8);
    transition: all 0.4s ease;

    &--second {font-size: var(--fontSize-sm);}
  }
  &__box {position: relative; display: inline-block; width: 100%;}
  &__helpText {
    font-size: var(--fontSize-sm);
    margin-top: calc(var(--unitBase) * -1);
    color: hsla(var(--colorText), 0.6);
  }
  &__error-text {
    margin-top: calc(var(--unitBase) * -1);
  }

  /* с иконкой */
  &--suffix {
    width: auto;

    .default-input {padding-right: 2.5em; width: 100%;}
  }
  &__suffix {
    right: 0.8em;
    position: absolute; top: 50%;
    font-size: 1.2em;  line-height: 0;
    color: var(--colorIconInput);
    transform: translateY(-50%);
    transition: color 0.2s ease-out;
    
    @media (hover: hover) {
      &:hover {color: hsl(var(--colorPrimary))}
    }
  }

  &--prefix {
    width: auto;

    .default-input {padding-left: 2.5em; width: 100%;}
  }
  &__prefix {
    left: 0.8em;
    position: absolute; top: 50%;
    font-size: 1.2em; line-height: 0;
    color: var(--colorIconInput);
    transform: translateY(-50%);
  }
  :disabled + &__suffix, 
  :disabled + &__prefix,
  :disabled ~ &__suffix,
  :disabled ~ &__prefix {
    opacity: 0.5;
  }
 
  /* daterange */
  &__box--daterange {
    display: flex;
    align-items: center;
    gap: var(--size-2);
  }
  &__field--daterange {
    /* border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; */

  }
  &__countDays {
    /* @mixin inputStyle;
    padding: var(--padInput);
    position: relative; left: calc(var(--round-sm) * -1);
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; */

    &:empty {display: none;}
  }
} 

/* группа из нескольких элементов с общей подписью */
/* несколько интпутов под ОДНИМ заголовком. пр.: группа чекбоксов\ радио, снилс состоящий из нескольких частей */
.inputGroup {
  display: flex; flex-direction: column;
  gap: var(--size-3) var(--size-4);
  margin: var(--size-2) 0 var(--size-7);

  &:last-child {margin-bottom: 0;}
  &__error-text {margin-bottom: 0;}

  &--row {flex-direction: row;}
  
  &__label {}
  &__list {
    display: flex; flex-direction: column;
    gap: var(--size-2) var(--size-4);
    
    &--row {
      flex-direction: row;
    }
  }
  &__separate {align-self: center;}

  /* ошибки заполнения */
  &--error {
    --colorBorderInput: hsl(var(--colorDanger));
  }

  /* правильно заполненое */
  &--success {
    --colorBorderInput: hsl(var(--colorSuccess));
  }  
}

/* plugin for Date Range */
.daterange {
  //BASE
  --font__family: var(--fontPrimary);
  --background__color: var(--bgCard);
  --text__base__color: hsl(var(--colorText));
  --text__light__color:  hsl(var(--colorText));
  --accent__color__hsl: var(--colorPrimary);
  --accent__text__color: hsl(var(--colorWhite));
  --hover__text__color: hsl(var(--colorText));
  --tooltip__text__color: hsl(var(--colorText));
  --line__border__color: hsla(var(--colorText), 0.2);
  --tooltip__color: hsl(var(--colorWarning-Hue), 100%, 70%);
  --info__error__color: hsl(var(--colorDanger));

  //BUTTON
  --button__key__color: var(--bgBtnDefault);
  --button__bg__color: var(--button__key__color); 
  --button__txt__color: var(--txtBtnDefault);
  --button__bg__hover__color: var(--hoverBgBtnDefault); 
  --button__txt__hover__color: var(--txtBtnDefault);
  /* --button__bg__disabled__color: inherit;
  --button__txt__disabled__color: inherit; */
  --button__indent: var(--size-2) var(--size-3);
  --button__round: var(--round-full);

  //INVALID & DISABLED STATES
  // даты вне активного диапазона
  --dates__invalid__color: hsla(var(--colorText), 0.35);
  // для дат доп-но исключенных из активного диапазона JS-opt: disabledDates
  --dates__disabled__color: hsla(var(--colorText), 0.25); 
  --dates__disabled__ico: "\00D7";
  --dates__disabled__cross__color: hsl(var(--colorDanger)); // крестик поверх  исключения 

  // CONTAINER
  --container__round: 0;
  --container__shadow: var(--shadow-default);

  &__month-day--disabled::after {
    transform: translate(-50%, -50%);
    font-size: 2em;
  }

  [data-theme="dark"] & {
    --tooltip__text__color: hsl(var(--colorBlack));
  }
}

/* plugin input autocomplete from fetch */
.auto-search-wrapper {
  --color-border: none;
  --color-wrapper: var(--bgCard);
  --color-error: var(--colorDanger);
  --padding-input: var(--padInput);
  --color-border-input: var(--colorBorderInput);
  --border-input-focus: 1px solid var(--colorFocusBorderInput);
  --padding-item: 1em;
  --bg-selected-item: hsla(var(--colorText), 0.05);
  --color-selected-item: hsl(var(--colorText));
  --loupe-size: 1.2em;
  --padding-loupe: 2.5em;
  --clear-size: 1.2em;
  --close-button: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M15.807 0.900428C16.0023 0.705166 16.0023 0.388584 15.807 0.193322C15.6118 -0.00194053 15.2952 -0.00194055 15.0999 0.193322L8.00005 7.29318L0.900198 0.193322C0.704936 -0.00194054 0.388354 -0.00194054 0.193091 0.193322C-0.00217075 0.388584 -0.00217075 0.705166 0.193091 0.900428L7.29295 8.00028L0.193077 15.1002C-0.00218462 15.2954 -0.00218464 15.612 0.193077 15.8073C0.388339 16.0025 0.704922 16.0025 0.900184 15.8073L8.00005 8.70739L15.0999 15.8073C15.2952 16.0025 15.6118 16.0025 15.807 15.8073C16.0023 15.612 16.0023 15.2954 15.807 15.1002L8.70716 8.00028L15.807 0.900428Z'/%3E%3C/svg%3E%0A");
  --loupe-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cpath d='M2.55982 2.54404C4.19804 0.914509 6.41882 5.96046e-08 8.73333 0C9.87947 0 11.0145 0.224545 12.0737 0.660946C13.1329 1.09735 14.0956 1.73714 14.9068 2.54404C15.7181 3.35095 16.3618 4.30918 16.8012 5.36417C17.2405 6.41916 17.4667 7.55008 17.4667 8.69231C17.4667 9.83454 17.2405 10.9655 16.8012 12.0205C16.4901 12.7674 16.0766 13.4658 15.5738 14.0963L21.7107 20.2965C22.0992 20.689 22.096 21.3222 21.7035 21.7107C21.311 22.0992 20.6778 22.096 20.2893 21.7035L14.1554 15.5065C13.5227 16.0052 12.8223 16.4152 12.0737 16.7237C11.0145 17.1601 9.87947 17.3846 8.73333 17.3846C6.41882 17.3846 4.19804 16.4701 2.55982 14.8406C0.921416 13.2109 0 10.9994 0 8.69231C0 6.38524 0.921416 4.17375 2.55982 2.54404ZM8.73333 2C6.94583 2 5.23261 2.70637 3.97026 3.96201C2.7081 5.21747 2 6.91912 2 8.69231C2 10.4655 2.7081 12.1671 3.97026 13.4226C5.23261 14.6783 6.94583 15.3846 8.73333 15.3846C9.6183 15.3846 10.4945 15.2112 11.3118 14.8745C12.1291 14.5377 12.8714 14.0443 13.4964 13.4226C14.1214 12.8009 14.6169 12.0632 14.9548 11.2516C15.2928 10.44 15.4667 9.57042 15.4667 8.69231C15.4667 7.8142 15.2928 6.94457 14.9548 6.13301C14.6169 5.32145 14.1214 4.58369 13.4964 3.96201C12.8714 3.34032 12.1291 2.84688 11.3118 2.51014C10.4945 2.17339 9.6183 2 8.73333 2Z'/%3E%3C/svg%3E"); 

  /* ul {padding: 0 1em;} */
  ul li {
    color: hsla(var(--colorText), 0.7);

    &:not(:last-child)::after {
      @mixin afbf-decor;
      right: 1em; left: 1em;
      bottom: 0;
      margin: 0 auto;
      height: 1px;
      background-color: hsla(var(--colorText), 0.1);
    }
    &.auto-selected {color: var(--color-selected-item)}
  }
}
.auto-results-wrapper {
  max-height: 40vh; overflow-y: auto;
  box-shadow: var(--shadow-default);
  @mixin scrollbarThin;

  &.auto-is-active {margin-top: 0;}
  &.auto-list-up {margin-bottom: 1px}
}
.auto-clear {
  border-radius: var(--round-sm);
  background-color: var(--bgInput);
}
/* END plugin input autocomplete from fetch */

/* загрузка файлов. только внешние признаки */
.uploadFile {

  &__add {
    position: relative; display: block; width: 100%; height: 100%;
  }
  input[type="file"] {
    position: absolute; z-index: 3;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;

    &:focus-visible + .uploadFile__addLabel {
      outline: 4px solid var(--focusOutlineColor);
      outline-offset: 0px;
    }
    &:focus-visible + .uploadFile__addLabel.btn-outline--neytral {
      color: var(--hoverTxtBtnOutline);
      background-color: var(--colorHoverBtnOutline);
      border-color: transparent;
    }
    &:disabled {
      pointer-events: none;
    }
    &:disabled + .uploadFile__addLabel {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .3;
    }
  }

  &__addLabel {
    position: relative; z-index: 1;
    width: 100%; 
    /* height: 100%; */

    @media (hover: hover) {
      input[type="file"]:hover + &.btn-outline--neytral {
        color: var(--hoverTxtBtnOutline);
        background-color: var(--colorHoverBtnOutline);
        border-color: transparent;
      }
    }
  }

  &__result {
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: var(--size-3);
    padding: var(--padInput); padding-left: 0; padding-right: 0; 
    width: 100%; height: 100%;
  }

  &__title {
    width: 80%;
    display: flex;
    align-items: center; 
    gap: var(--size-2_5);
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: hsla(var(--colorText), 0.7);
  }
  &__delete {
    flex-shrink: 0;
  }

  &._selected &__add {display: none;}

  &--error &__addLabel {
    border-color: hsl(var(--colorDanger));
    color: hsl(var(--colorDanger));
  }
}

/* ======== END элементы forms =========*/