<nav aria-label="Пагинация">
    <ul class="pagination">
        <li class="pagination__item"><span class="pagination__arrow pagination__arrow--disable" aria-label="Предыдущая страница">{% icon "shevron-left-xs" %}</span></li>
        <li class="pagination__item"><span class="pagination__num pagination__num--active" aria-current="page">1</span></li>
        <li class="pagination__item"><a class="pagination__num" href="#">2</a></li>
        <li class="pagination__item"><a class="pagination__num" href="#">3</a></li>
        <li class="pagination__item"><span class="pagination__separator">…</span></li>
        <li class="pagination__item"><a class="pagination__num" href="#">22</a></li>
        <li class="pagination__item"><a class="pagination__num" href="#">23</a></li>
        <li class="pagination__item"><a class="pagination__num" href="#">24</a></li>
        <li class="pagination__item"><a class="pagination__arrow" href="#" aria-label="Следующая страница">{% icon "shevron-right-xs" %}</a></li>
    </ul>
</nav>