    <li class="utils__item"><a href="https://kpfu.ru/search" class="utils__control" title="Поиск"><span class="utils__text">Поиск</span><span class="utils__ico">{% icon "search" %}</span></a></li>
    <li class="utils__item"><button class="utils__control" type="button" title="Режим для слабовидящих" data-contrast="toggleThemeContrast"><span class="utils__text">Режим для слабовидящих</span><span class="utils__ico">{% icon "eye" %}</span></button></li>
    <li class="utils__item"><button class="utils__control" type="button" title="Темная тема" data-thememode="light"><span class="utils__text">Переключатель темной темы</span><span class="utils__ico">{% icon "moon" %}</span></button></li>
    <li class="utils__item"><a class="utils__control" href="#comment" title="Сообщения"><span class="utils__text">Сообщения</span><span class="utils__ico">{% icon "comment" %}</span></a></li>
    <li class="utils__item"><a class="utils__control" href="#task" title="Сервис деск"><span class="utils__text">Сервис деск</span><span class="utils__ico">{% icon "tasklist" %}</span></a></li>
    <!-- <li class="utils__item"><a class="utils__control" href="#submit-apply"><span class="utils__text">Подать заявку</span><span class="utils__ico">{% icon "docs" %}</span></a></li> -->
    <li class="utils__item"><a class="utils__control" href="https://kpfu.ru/about_university/karta-vseh-obektov" title="Карта зданий КФУ"><span class="utils__text">Карта зданий КФУ</span><span class="utils__ico">{% icon "pointmap" %}</span></a></li>
