---
layout: inner.njk
title: shoelaces 
permalink: shoelaces.html
pluginCss: https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/light.css
pluginJs: https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/shoelace-autoloader.js
eleventyNavigation:
  key: shoelaces 
  icon: docs-thin
---

<div class="innerPage__section">
 <p><a href="https://shoelace.style/">https://shoelace.style/</a> - фреймворк на веб-компонентах</p>
</div>
<div class="innerPage__section">
  <h2>кнопка</h2>
  <p> <sl-button size="small">Click me</sl-button></p>
  <h2>tooltip</h2>
  <p>если элемент с краю, то позиция тултипа меняется, чтоб он был виден</p>
  <p><sl-tooltip placement="left-start" content="This is a tooltip">
    <sl-button>left-start</sl-button>
  </sl-tooltip> <sl-tooltip content="This is a tooltip">
    <sl-button>top-start default</sl-button>
  </sl-tooltip>
  </p>
  <h2>Селект</h2>
  <p>не позволяет в подпись добавить html код</p>
  <form action="" style="width: 300px">
    <div>
      <sl-select label="Select one">
        <sl-option value="option-1">Option 1</sl-option>
        <sl-option value="option-2">Lorem ipsum dolor sit amet consectetur adipisicing elit</sl-option>
        <sl-option value="option-3">Option 3</sl-option>
      </sl-select>
    </div>
  </form>
</div>
<div class="innerPage__section">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, odio sint voluptate nostrum magnam tempore debitis, suscipit expedita nobis aliquam modi pariatur quidem assumenda laudantium amet nam, numquam aspernatur?</p>
</div>