{% import "nav-macros.njk" as macro %}

{# массив ссылок #}
{% set navPages = collections.all | eleventyNavigation %}
{% set currentPage = page.url %}

{# вывод меню с помощью макроса #}
<nav class="menuSide">
    <ul class="menuSide__list">
        {% for entry in navPages %}{{ macro.renderNavListItem(entry, 'menuSide', currentPage) }}{% endfor %}

        <li class="menuSide__item">
            <button class="menuSide__link" aria-expanded="false" aria-controls="id_test_menu" type="button"><span class="icok menuSide__icon"><svg alt=""><use xlink:href="/images/sprite.svg#svg-folder-open"></use></svg></span>Тест вложенности<span class="icok menuSide__arrow"><svg alt=""><use xlink:href="/images/sprite.svg#svg-shevron-bottom-sm"></use></svg></span></button>
            <div class="menuSide__subcontainer">
                <ul class="menuSide__submenu subMenuSide" id="id_test_menu">
                    <li class="subMenuSide__item"><a class="subMenuSide__link" href="#">Page 1</a></li>
                    <li class="subMenuSide__item">
                        <button class="subMenuSide__link" aria-expanded="false" aria-controls="id_test2_menu" type="button">Раздел<span class="icok menuSide__arrow"><svg alt=""><use xlink:href="/images/sprite.svg#svg-shevron-bottom-sm"></use></svg></span></button>
                        <div class="subMenuSide__subcontainer">
                            <ul class="subMenuSide__submenu subMenuSide" id="id_test2_menu">
                                <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                                <li class="subMenuSide__item">
                                    <button class="subMenuSide__link" aria-expanded="false" aria-controls="id_test4_menu" type="button">Раздел<span class="icok menuSide__arrow"><svg alt=""><use xlink:href="/images/sprite.svg#svg-shevron-bottom-sm"></use></svg></span></button>
                                    <div class="subMenuSide__subcontainer">
                                        <ul class="subMenuSide__submenu subMenuSide" id="id_test4_menu">
                                            <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                                            <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                                            <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="subMenuSide__item"><a class="subMenuSide__link" href="#">Page 3</a></li>
                    <li class="subMenuSide__item">
                        <button class="subMenuSide__link" aria-expanded="false" aria-controls="id_test3_menu" type="button">Раздел<span class="icok menuSide__arrow"><svg alt=""><use xlink:href="/images/sprite.svg#svg-shevron-bottom-sm"></use></svg></span></button>
                        <div class="subMenuSide__subcontainer">
                            <ul class="subMenuSide__submenu subMenuSide" id="id_test3_menu">
                                <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                                <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                                <li class="subMenuSide__item"><a href="" class="subMenuSide__link">Подраздел</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="subMenuSide__item"><a class="subMenuSide__link" href="#">Page 3</a></li>
                    
                </ul>
            </div>
        </li>
        <li class="menuSide__item">
            <button class="menuSide__link" aria-expanded="false" aria-controls="id_section_menu" type="button"><span class="icok menuSide__icon"><svg alt=""><use xlink:href="/images/sprite.svg#svg-close"></use></svg></span>Пример раздела<span class="icok menuSide__arrow"><svg alt=""><use xlink:href="/images/sprite.svg#svg-shevron-bottom-sm"></use></svg></span></button>
            <div class="menuSide__subcontainer">
                <ul class="menuSide__submenu subMenuSide" id="id_section_menu">
                    <li class="subMenuSide__item"><a class="subMenuSide__link" href="/subsection.html">Подраздел</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>