{% import "nav-macros.njk" as macro %}

{# массив ссылок #}
{% set navPages = collections.all | eleventyNavigation %}
{% set currentPage = page.url %}

{# вывод меню с помощью макроса #}
<nav class="menuSide">
    <ul class="menuSide__list">
        {% for entry in navPages %}{{ macro.renderNavListItem(entry, 'menuSide', currentPage) }}{% endfor %}

    </ul>
</nav>