---
layout: inner.njk
title: Readme - Верстка нового ЭУ
folder: 
eleventyNavigation:
  key: Readme - Верстка нового ЭУ
  icon: docs-thin
  order: 1
---
<h1>{{ title }}</h1>
<p>!! При загрузке на сервер файл скриптов перевести в кодировку win-1251 (main.js >  main-win1251.js, папка scripts/modules)<br>
На сервере подключается файл main-win1251.js</p>
<div class="innerPage__section">
  <h2>Сборка</h2>
  <p>Для сборки верстки используется 11ty в связке шаблонизатором Nunjucks.<br>
  Разные Модули ЭУ разложены по папкам (пр. Каталог РИС - catalog-ris).  Для каждого модуля отдельно подключаются свои скрипты и стили. <br>
  Есть раздел документации с <a href="docs/buttons.html">Примерами глобальных компонентов</a>, папка docs.<br>
  Для обработки Css - postCss and csso.<br>
  Иконки собираются в спрайт. Все контурные элементы должны быть приведены к заливке. </p>
</div>
<div class="innerPage__section">
  <h3>Стили</h3>
  <p>Все цвета и размеры задаются css-переменными. <br>
    Есть глобальные и есть конкретные для темы (дефолтная, контрастная, темная).<br>
    Все цвета задаются в пространстве hsla (hue, saturation, lightness, alpha-channel).<br>
    Все размеры кратны 4рх и высчитываются от базового размера шрифта: 1rem = 16px. Изредка используется 10рх.  <br>
    Для организации и наименования стилей используется методология БЭМ.</p>
</div>
<div class="innerPage__section">
  <h3>11ty параметры страниц</h3>
  <p>
    index-module.njk - входная страница модуля не отображается нигде, нужна для построения навигации</p>
  <p>---<br>
  layout: inner.njk \ шаблон страницы (popup.njk для страниц, подгружаемых в ифрейм попапов)<br>
  title: План и Факт \ заголовок страницы (h1 и meta title)<br>
  folder: docs \ папка модуля, где ищется меню модуля navigation.njk. Также название css\js файлов только для модуля<br>
  permalink: docs/buttons.html \ куда рендерить страницу. если false, то это входная для раздела с подменю<br>
  eleventyNavigation:<br>
  &nbsp; &nbsp;key: План и Факт \построение навигации и связка с дочерними страницами<br>
  &nbsp; &nbsp;title: Buttons \ название пункта меню, может не совпадать с заголовком страницы<br>
  &nbsp; &nbsp;order: 3 \ порядок вывода в меню, не обязателен<br>
  &nbsp; &nbsp;icon: docs-thin \ иконка для меню, указывается если это 1й уровень<br>
  &nbsp; &nbsp;idmenu: components \ указывается, если это раздел с подменю. для работы js-скриптов<br>
  &nbsp; &nbsp;parent: Components \ указывается если это дочерняя страница подраздела. Должно совпадать с key входной страницы подраздела<br>
  &nbsp; &nbsp;module: Components \ указывается для всех дочерних страниц модуля, должно совпадать с key индексной страницы модуля.  используется для построения меню (фильтр массива) и для вывода названия в шапке<br>
  ---
  </p>
</div>
