---
layout: inner.njk
title: Section
permalink: false
eleventyNavigation:
  key: Section
  title: Пример раздела
  icon: close
  idmenu: section
  order: 1001

---


{# 
Страница не выводится. Существует только для построения меню
idmenu - для определения подменю 
icon - название иконки для вывода
#}