---
layout: inner.njk
title: Подраздел
folder: 
permalink: subsection.html
eleventyNavigation:
  key: subsection
  title: Подраздел
  parent: Section
tags: page
---

<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quisquam aperiam iusto. Aspernatur quibusdam corrupti obcaecati enim, ex ut laudantium, in sint aliquid repellendus quidem nihil veritatis fugit error. Rerum!</p>

